﻿:root {
  --light:white;
  --primary: red;
  --dark: #111111;
  --darker: black;
}

/* FUENTES */
@font-face {
	font-family: 'Maison Neue';
	src: url('../fonts/MaisonNeue-Medium.ttf'),
  url('../fonts/MaisonNeue-Light.ttf'),
  url('../fonts/MaisonNeue-Bold.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'NBArchitektR Neue';
	src: url('../fonts/NBArchitektRNeue.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'NB International';
	src: url('../fonts/nb_international_pro_regular-webfont.ttf');
	font-weight: normal;
}

/* HTML */
html, body {
  background-color: var(--darker);
  /* background-image: url("../img/hidden-face.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  color: var(--light);
  font-family: 'NB International', sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.2;
  overflow: hidden;
  transition: 1s
}

section { padding: 0px 20px; }


h1, h2, h3, h4, h5, h6 {
  font-family: 'NB International', sans-serif;
  font-weight: 500;
  margin: 10px 0px;
}

h1 { font-size: 4.052rem; }

h2 { font-size: 2.441rem; }

h3 { font-size: 1.953rem; }

h4 { font-size: 1.563rem; }

h5, button, input, a, li { font-size: 1.25rem; }
blockquote { font-size: 2.5vh; }
q { font-size: 2.7vh; }
hr { background-color: var(--light); }

ul, blockquote {
  margin: 10px 0px;
  padding: 0px;
}

a {
  color: var(--light);
  text-decoration: none;
}

button {
  background-color: var(--darker);
  color: var(--light);
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s
}

button:hover {
  background-color: var(--light);
  color: var(--darker);
  transition: .5s
}

.row {
  display: flex;
  flex-direction: row;
}

.row-expanded {
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
  justify-content: space-between;
}

#Principal {
  display: flex;
  justify-content: space-between;
  background-size: contain;
  padding: 0px 20px;
}

#Clima {
  text-align: right;
  text-transform: uppercase;
}

#Clima img {
  object-fit: contain;
  max-width: 6vw;
}

#Clima > div {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

#middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#FraseDelDia { text-align: center; }
#FraseDelDia button, #SeccionNoticias button {
  background-color: var(--light);
  color: var(--darker);
}

#SeccionNoticias {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#SeccionNoticias img {
  max-width: 15%;
  padding-right: 15px;
  object-fit: cover;
}

/* TAREAS */
#Tareas {
  display: flex;
  flex-direction: column;
}
#lista, #listaTareas {
  max-height: 12vh;
  overflow-y: auto;
}

ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: decimal-leading-zero;
  transition: 0.2s;
  cursor: pointer;
  padding: 5px;
}

ul li::marker { color: var(--light); }

ul li:hover {
  background: var(--light);
  color: var(--darker);
}

ul li.checked {
  background: var(--light);
  color: var(--darker);
  text-decoration: line-through;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  background-color: transparent;
  color: var(--light);
  border: 1px solid;
  border-color: var(--light);
}

/* LOADER */
.loader {
  border: 16px solid var(--light);
  border-radius: 50%;
  border-top: 16px solid var(--primary);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.sidenav {
  height: 100%;
  width: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  overflow-x: hidden;
  background-color: var(--dark);
  transition: 1s;
}

.sidenav h5 {
  padding: 10px 20px;
  font-size: 2vw;
  text-decoration: none;
  transition: 0.3s;
}

.sidenav #closebtn {
  position: absolute;
  right: 0px;
  padding: 20px;
}

/* TELEVISORES */
@media only screen and (min-width: 3000px) {
  #SeccionNoticias button { width: 25vh; }
}


/* CELULARES */
@media only screen and (max-width: 600px) {
  h1 {
    margin-top: 0;
    font-size: 1.802rem;
  }
  
  h2 {font-size: 1.602rem;}
  
  h3 {font-size: 1.424rem;}
  
  h4 {font-size: 1.266rem;}
  h5, button, input, a, li, q { font-size: 1.2rem; }
  blockquote { font-size: 3vw; }
  q { font-size: 3.5vw; }

  #SeccionNoticias img { max-width: 20%; }
  #DescripcionNoticia { display: none; }
}